<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords"
        content="tailwind,tailwindcss,tailwind css,css,starter template,free template,admin templates, admin template, admin dashboard, free tailwind templates, tailwind example">
    <!-- Css -->
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Halfmoon/2.0.0/css/halfmoon.min.css"
        integrity="sha512-ypOPhRaCxXLZJC5ZGCgYod2FaAoU5ZGYKbe8h8TUrKnvIRqKDR/pp562Cpmz6LxWNncxor2iXkGjvhwhbkJXRg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"
        integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/xlsx@0.16.8/dist/xlsx.full.min.js"></script>
        <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/all.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i" rel="stylesheet">
    <title>DATN</title>
</head>

<body>
    <!--Container -->
    <div class="mx-auto bg-gray-lightest">
        <!--Screen-->
        <div class="min-h-screen flex flex-col">
            <!--Header Section Starts Here-->
            <header class="bg-nav">
                <div class="flex justify-between">
                    <div class="p-1 mx-3 inline-flex items-center">
                        <i class="fas fa-bars pr-2 text-white" onclick="sidebarToggle()"></i>
                        <h1 class="text-white p-2">MENU</h1>
                    </div>

                </div>
            </header>
            <!--/Header-->

            <div class="flex flex-1">
                <!--Sidebar-->
                <aside id="sidebar"
                    class="bg-side-nav w-1/2 md:w-1/6 lg:w-1/6 border-r border-side-nav hidden md:block lg:block">

                    <ul class="list-reset flex flex-col">
                        <li class=" w-full h-full py-3 px-2 border-b border-light-border bg-white">
                            <a href="/"
                                class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                SCANNER
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>
                        <li class=" w-full h-full py-3 px-2 border-b border-light-border bg-white">
                            <a href="/details"
                                class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                DETAILS
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>

                        <li class="w-full h-full py-3 px-2 border-b border-light-border">
                            <a href="/forms"
                                class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fab fa-wpforms float-left mx-2"></i>
                                Forms
                                <span><i class="fa fa-angle-right float-right"></i></span>
                            </a>
                        </li>
                        <li class="w-full h-full py-3 px-2 border-b border-light-border bg-white">
                            <a href="/manager"
                                class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fab fa-wpforms float-left mx-2"></i>
                                Manager
                                <span><i class="fa fa-angle-right float-right"></i></span>
                            </a>
                        </li>

                    </ul>

                </aside>
                <!--/Sidebar-->
                <!--Main-->
                <main class="bg-white-medium flex-1 p-3 overflow-hidden">

                    <div class="flex flex-col">
                        <div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
                            <div
                                class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full md:w-1/4 lg:w-1/4">
                                <div class="bg-gray-200 px-2 py-3 border-solid border-gray-300 border-b">
                                    ROOM
                                </div>
                                <div class="p-3">
                                    <button
                                        class="bg-transparent hover:bg-blue-500 text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded room-button">
                                        404
                                    </button>
                                    <button
                                        class="bg-transparent hover:bg-green-500 text-green-dark font-semibold hover:text-white py-2 px-4 border border-green hover:border-transparent rounded room-button">
                                        405
                                    </button>
                                    <button
                                        class="bg-transparent hover:bg-orange-500 text-orange-dark-800 font-semibold hover:text-white py-2 px-4 border border-orange-500 hover:border-transparent rounded room-button">
                                        406
                                    </button>
                                </div>
                                <button id="exportButton" class="bg-transparent hover:bg-blue-500 text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded">Export to Excel</button>
                        
                            </div>

                            <div
                                class="mb-2 mx-2 border-solid border-gray-300 rounded border shadow-sm w-full md:w-1/1 lg:w-1/1">
                                <div class="bg-gray-200 px-2 py-3 border-solid border-gray-300 border-b">
                                    Thông tin chi tiết
                                </div>
                                <div class="p-3">
                                    <div class="container">
                                        <div class="card mt-2">

                                            <div class="card-body">
                                                <div class="container">
                                                    <table class="table table-striped table-hover">
                                                        <thead class="table-secondary">
                                                            <tr>
                                                                <th>Tên máy</th>
                                                                <th>IP</th>
                                                                <th>Hệ điều hành</th>
                                                                <th>CPU</th>
                                                                <th>RAM</th>
                                                                <th>Disk</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="hardwareTableBody">
                                                            <!-- Dữ liệu sẽ được thêm vào đây sau khi click vào button room -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">

                            <div
                                class="mb-2 mx-2 border-solid border-gray-300 rounded border shadow-sm w-full md:w-1/2 lg:w-1/2">
                                <div class="bg-gray-200 px-2 py-3 border-solid border-gray-300 border-b">
                                    Thông tin chi tiết
                                </div>
                                <div class="p-3">
                                    <div class="container">
                                        <div class="card mt-2">

                                            <div class="card-body">
                                                <div class="container">
                                                    <table class="table table-striped table-hover">
                                                        <thead class="table-secondary">
                                                            <tr>
                                                                <th>Tên máy</th>
                                                                <th>IP</th>
                                                                <th>Hệ điều hành</th>
                                                                <th>Network</th>
                                                                <th>Tắt/bật</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="networkTableBody">
                                                            <!-- Dữ liệu sẽ được thêm vào đây sau khi click vào button room -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </main>
                <!--/Main-->
            </div>

        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/manager.js">

    </script>
</body>

</html>